<section class="movie-section">
  <ng-container *ngFor="let genre of movieService.genresSignal().genres">
    <div class="genre-row" *ngIf="movieService.genreMoviesSignal()[genre.id]" [id]="'genre-' + genre.id">
      <!-- Título del género -->
      <h2 class="genre-title">{{ genre.name }}</h2>

      <!-- Fila de posters -->
      <div class="rowposter" [draggable]="false">
        <ng-container
          *ngFor="
            let movie of movieService.genreMoviesSignal()[genre.id].results
          "
        >
          <div class="movie-card">
            <!-- Skeleton loader -->
            <div
              class="skeleton-loader"
              *ngIf="isLoadingImage(movie.id)"
            ></div>

            <!-- Imagen de la película -->
            <ng-container *ngIf="movie.poster_path; else noImage">
              <img
                [draggable]="false"
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                [alt]="movie.title"
                class="rowimg largeposter"
                [class.loaded]="!isLoadingImage(movie.id)"
                (load)="onImageLoad(movie.id)"
                (error)="onImageError(movie.id)"
              />
            </ng-container>

            <ng-template #noImage>
              <div class="rowimg largeposter no-poster">
                <span>{{ movie.title }}</span>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Skeleton para el género completo mientras carga -->
    <div class="genre-row" *ngIf="isLoadingGenre(genre.id)">
      <h2 class="genre-title skeleton-text"></h2>
      <div class="rowposter">
        <div
          class="skeleton-loader"
          *ngFor="let item of getSkeletonArray(8)"
        ></div>
      </div>
    </div>
  </ng-container>
</section>
