<section class="smart-pick">
  <!-- BACKDROP -->
  <img
    class="backdrop"
    [src]="movie() ? backdropPath + movie()!.backdrop_path : ''"
    [alt]="movie()?.title || ''"
    [class.hidden]="loading()"
  />

  <!-- GRADIENTS -->
  <div class="gradient-left"></div>
  <div class="gradient-bottom"></div>

  <!-- CONTENT -->
  <div class="fusion-layer">
    <div class="content" [class.hidden]="loading()">
      <div class="meta">
        <span class="rating"
          >★ {{ (movie()?.vote_average! / 2).toFixed(1) }}</span
        >
        <span class="info">
          {{ movie()?.genre_ids?.join(", ") }} •
          {{ movie()?.release_date | date: "yyyy" }} •
          {{ movie()?.video ? "🎬" : "" }}
        </span>
      </div>

      <h1 class="title">{{ movie()?.title }}</h1>

      <p class="overview">
        {{ movie()?.overview }}
      </p>

      <div class="actions">
        <button class="btn primary">Movie Details</button>
        <button class="btn secondary" (click)="pickMovie()">
          Another Pick
        </button>
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="loading" *ngIf="loading()">
    <p class="loading-text">Buscando la mejor película...</p>
  </div>
</section>
