<section class="smart-pick">
  <!-- BACKDROP -->
  <img
    class="backdrop"
    [src]="movie() ? backdropPath + movie()!.backdrop_path : ''"
    [alt]="movie()?.title || ''"
    [class.hidden]="loading()"
  />

  <!-- GRADIENTS -->
  <div class="gradient-left"></div>
  <div class="gradient-bottom"></div>

  <!-- CONTENT -->
  <div class="fusion-layer">
    <div class="content" [class.hidden]="loading() || !movie()">
      <div class="meta" *ngIf="movie()">
        <span class="rating"
          >{{ (movie()?.vote_average! / 2).toFixed(1) }}</span
        >
        <span class="info">
          {{ genres().join(", ") }} •
          {{ movie()?.release_date | date: "yyyy" }} •
          {{ formatRuntime(movieDetails()?.runtime) }}
        </span>
      </div>

      <h1 class="title" *ngIf="movie()">{{ movie()?.title }}</h1>

      <p class="overview" *ngIf="movie()">
        {{ movie()?.overview }}
      </p>

      <div class="actions" *ngIf="movie()">
        <button class="btn primary">Movie Details</button>
        <button class="btn secondary" (click)="pickMovie()">
          Another Pick
        </button>
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="loading" *ngIf="loading()">
    <p class="loading-text">Buscando la mejor película...</p>
  </div>
</section>
