<div
  class="carousel"
  (mousedown)="onDragStart($event)"
  (mousemove)="onDragMove($event)"
  (mouseup)="onDragEnd()"
  (mouseleave)="onDragEnd()"
  (touchstart)="onDragStart($event)"
  (touchmove)="onDragMove($event)"
  (touchend)="onDragEnd()"
>
  <div class="track" [ngStyle]="getSliderStyle()">
    <div #group class="group" aria-hidden="true" [class.paused]="paused">
      <div class="card" *ngFor="let movie of movies()">
        <img
          draggable="false"
          [src]="backdropPath + movie.backdrop_path"
          [alt]="movie.title"
        />
        <div class="caption">
          <h2>{{ movie.title }}</h2>
          <p class="d-none d-md-block">{{ movie.overview }}</p>
          <div class="d-md-none">
            <i class="bi bi-star-fill" style="color: #ffd700"></i>
            <span>{{ (movie.vote_average / 2).toFixed(1) }}/5</span>
          </div>
          <div class="rating d-none d-md-flex">
            <i
              *ngFor="let star of [1, 2, 3, 4, 5]"
              [class]="
                'bi ' +
                (star <= movie.vote_average / 2 ? 'bi-star-fill' : 'bi-star')
              "
              [style.color]="
                star <= movie.vote_average / 2 ? '#ffd700' : '#ccc'
              "
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="track" [ngStyle]="getSliderStyle()">
    <div #group class="group" aria-hidden="true" [class.paused]="paused">
      <div class="card" *ngFor="let movie of movies()">
        <img
          draggable="false"
          [src]="backdropPath + movie.backdrop_path"
          [alt]="movie.title"
        />
        <div class="caption">
          <h2>{{ movie.title }}</h2>
          <p class="d-none d-md-block">{{ movie.overview }}</p>
          <div class="d-md-none">
            <i class="bi bi-star-fill" style="color: #ffd700"></i>
            <span>{{ (movie.vote_average / 2).toFixed(1) }}/5</span>
          </div>
          <div class="rating d-none d-md-flex">
            <i
              *ngFor="let star of [1, 2, 3, 4, 5]"
              [class]="
                'bi ' +
                (star <= movie.vote_average / 2 ? 'bi-star-fill' : 'bi-star')
              "
              [style.color]="
                star <= movie.vote_average / 2 ? '#ffd700' : '#ccc'
              "
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
